@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #111B59;
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container .title {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    color: #F95E1D;
    justify-content: center;
    font-weight: bold;
}

.text-container .imagem-onda {
    display: flex;
    padding-top: 1.5%;
    width: 350px;
}

.text-container .sub-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    justify-content: center;
}



.text-container .imagem-baby-tubarao {
    width: 400px;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: #EBEBEB;
    border-radius: 26px;
    box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
}

.form-container .titulo-form-conteiner {
    font-size: 25px;
    font-weight: bold;
}

.form-container .subtitulo-form-conteiner {
    width: 233px;
    height: 102px;
    font-size: 20px;
    margin: 10px;
    font-weight: normal;
    text-align: center;
}

.conjunto-de-botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container .botao {
    font-size: 20px;
    font-weight: bold;
    border-radius: 26px;
    width: 300px;
    height: 56px;
}

.form-container .botao-acessar-form:hover {
    background: black;
    color: EBEBEB;
    cursor: pointer;
}

.form-container .botao-acessar-form {
    color: #EBEBEB;
    background-color: #F95E1D;
    border: none;
    transition: all .3s ease-in-out;
}

.form-container .botao-cadastrar-form {
    background-color: #EBEBEB;
    transition: all .3s ease-in-out;
}

.form-container .botao-cadastrar-form:hover {
    background-color: black;
    color: #EBEBEB;
    cursor: pointer;
}

/* Para telas de celular */
@media (max-width: 980px) {
    body {
        background-color: #EBEBEB;
        background-image: url("/img/index/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh
            /* Altera a direção dos elementos para ficarem empilhados */
    }

    .text-container-titles {
        position: relative;
        top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .text-container .title {
        padding-bottom: 10px;
        font-size: 40px;
        /* Diminui o tamanho da fonte do título */
    }

    .text-container .imagem-onda {
        width: 250px;
        /* Reduz o tamanho da imagem da onda */
    }

    .text-container .sub-title {
        padding-top: 10px;
        font-size: 24px;
        /* Diminui o tamanho da fonte do título */
    }

    .text-container .imagem-baby-tubarao {
        content: url("/img/index/mobile.png");
        width: 120px;
        position: fixed;
        top: 40%;
        /* Reduz o tamanho da imagem do baby tubarão */
    }

    .form-container {

        padding-top: 30px;
        /* Diminui o espaçamento entre o topo do formulário e a tela */
        /* Reduz a largura do formulário */
        box-shadow: none;
        /* remover borda do texto */
        width: 70%;
        padding: 0;

    }

    .form-container .titulo-form-conteiner {
        font-size: 20px;
        /* Diminui o tamanho da fonte do título do formulário */
    }

    .form-container .subtitulo-form-conteiner {
        width: 180px;
        /* Reduz a largura do subtitulo */
        height: 80px;
        /* Diminui a altura do subtitulo */
        font-size: 16px;
        /* Diminui o tamanho da fonte do subtitulo */
    }

    .conjunto-de-botoes {

        display: flex;
        flex-direction: row;
        width: 350px;
        gap: 20px;
    }

    .form-container .botao {
        width: 250px;
        /* Reduz a largura do botão */
        height: 46px;
        /* Diminui a altura do botão */
        font-size: 18px;
        /* Diminui o tamanho da fonte do botão */
    }

}