@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}

div form {
    margin: 100;
    padding: 100;
    border: 100;
    box-sizing: border-box;
    font-family: "Inter";
    line-height: 42px;

}

body {
    /* background: #111b59; */
    background: #111b59;
    color: #111b59;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
}

div h1 {
    color: #fcf9f9;
    font-size: 35px;
    margin-top: 26px;
    top: 180px;
    position: center;
    margin-bottom: 1rem;
    margin-left: 12;
    margin-top: 1rem;
    text-align: center;
}

div form .alternative {
    margin-top: 1rem;
}

div form .alternative span {
    font-size: 15px;
    font-weight: 400;
    color: rgb(246, 241, 241);
    position: center;
    
}

div form .alternative span::before, madicin .alternative span::after {
    position: absolute;
    content: '';
    height: 380px;
    width: 387px;
    bottom: 50%;
    right: 50px;
    background: rgb(255, 255, 255);
}

div .alternative span::after {
    left: 50px;
}

div form {
    /* margin-left: 1200px; */
    position:center;
    display: flex;
    border-radius: 18px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #f0f2f4;
    width: 387px;
    height: 380px;
    top: 302px;
    border-radius: 26px;
    
}

div form label {
    display: flex;
    flex-direction: column;
    color: #010966;
}

div form label span {
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-left: 50px;
    font-weight: 200;
    
}

div form input {
    background: #dededf;
    width: 301px;
    height: 56px;
    padding: 20px;
    padding: 0 0.5rem;
    margin-left: 20px;
    outline: none;
    color: rgb(48, 44, 44);
    font-size: 1rem;
    border: 1px solid #fafbfc;
    border-radius: 26px;
}

div form input[type="submit"] {
    margin-left: 10px;
    cursor: pointer;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 26px;
    background: #ec6816;
    color: rgb(250, 248, 248);
    font-size: 1rem;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

div form input[type="submit"]:hover {
    background: #ff8402;
    
}

section.images {
    
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}

section.images img {
    width: 80%;
}


@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    div {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    div h1 {
        font-size: 2rem;
    }

    div .alternative span {
        font-size: 0.8rem;
    }

    div form label span, div form input[type="submit"] {
        font-size: 1rem;
    }
}
