@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
    font-family: 'Inter', sans-serif;
    background: #111B59;
}

.text-container {
    font-size: 45px;
    color: #fff;
}

.orange-text {
    color: #F95E1D;
    font-weight: bold;
}
.span-required{

    margin-left:20px;

}
.registration-form {
    margin-bottom: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
}

.registration-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 35px;
    display: inline-block;
    color: #EBEBEB;
}

#form {
    position: relative;
    width: 380px;
    height: 650px;
    background: #EBEBEB;
    border-radius: 26px;
    box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-top: -37px;
}
.form-container {
    background: #EBEBEB;
    border-radius: 26px;
    box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 0.25);
    gap: 10px;
    padding: 20px;
    margin-top: -37px;
}

#terms-link {
    font-family: 'Inter', sans-serif;
    color: #F95E1D;
    font-size: 15px;
}
#terms-link:hover {
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox {
    margin: 1%;
    border: 10px solid #000000;
    width: 40px;
    margin-left: 10px
}

.checkbox-text {
    font-size: 13px;
    color: #000000;
}

#botao-cadastrar {
    color: #fff;
    background-color: #F95E1D;
    border: 0px;
    border-radius: 26px;
    height: 50px;
    font-size: 20px;
}

#botao-cadastrar:hover {
    background-color: #de7c51;
    color: #EBEBEB;
    background-color: black;
    color: #EBEBEB;
    cursor: pointer;
}

/*validação de dados*/

.form-container span {
    margin-bottom: 0px;
    color: #111B59;
}

.form-container input {
    border-style: none;
    background: #D9D9D9;
    border-radius: 26px;
    border-color: #D9D9D9;
    height: 50px;
    font-size: 15px;    
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
}

.form-container input.error {
    border-color: red;
}

.form-container .error-message {
    color: red;
    font-size: 12px;
    font-weight: bold;
    display: none;
}

@media (max-width: 980px) {
    .text-container {
        display: none;
    }

    /* @media screen and (min-width: 390px) and (max-width: 980px) { */

    /* Alinhar o conteúdo verticalmente */
    body {
        display: flex;
        flex-direction: column;

    }

    /* Redimensionar o título */
    h2 {
        font-size: 30px;
    }

    .registration-form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 100vh;
        align-content: flex-start;
        align-items: stretch;
        justify-content: space-between;
    }

    /* Redimensionar o formulário */
    .form-container {
        max-width: 80%;
        max-height: 90vh;
    }

    /* Ajustar o espaçamento entre os campos do formulário */
    .form-container>* {
        margin-bottom: 10px;
    }

    /* Redimensionar os botões */
    #botao-cadastrar {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }

}