* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  --primary-color: #111b59;
  --bg-color: #ebebeb;
}

body {
  gap: 1.3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

img {
  position: fixed;
  left: 50%;
  transform: translate(-30%);
  z-index: 10;
}

#modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 80vh;
  width: 80%;
  background: var(--bg-color);
  border-radius: 2.6rem;
  padding: 4rem 2rem 0;
  margin-top: 5rem;
  overflow-y: scroll;
}

#header-modal h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

#body-modal {
  margin: 1rem;
}

#body-modal p {
  font-size: 1.5rem;
}

footer {
  display: flex;
  align-items: center;
  top: 90%;
  left: 30%;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin: auto;
}

footer P {
  color: white;
  width: 34rem;
}

#inputAceiteTermos {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

@media (min-width: 250px) and (max-width: 720px) {
  #modal {
    width: 100%;
  }
  #modal p {
    font-size: 1.5rem;
  }
}



/* input[type='checkbox'] {
  appearance: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 20px;
  height: 20px;
} */

/* input[type='checkbox']:checked:after {
  content: 'OK';
} */
