
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* background: #131b5a; */
    background: #111b59;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2 {
    color: #0c0c0c;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-left: 3
}
main h6 {
    color: #0c0c0c;
    font-size: 0.7rem;
    text-align: center;
    margin-left: 3px;
    width: 70%;
    font-weight: 150;
}


main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(246, 241, 241);
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgb(255, 255, 255);
}

main .alternative span::after {
    left: 50px;
}

main form {
    /* margin-left: 1200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #f0f2f4;
    width: 400px;
}

main form label {
    display: flex;
    flex-direction: column;
    color: #010966;
}

main form label span {
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-left: 50px;
    font-weight: 200;
}

main form input {
    background: #dededf;
    width: 90%;
    height: 50px;
    padding: 0 0.5rem;
    margin-left: 20px;
    outline: none;
    color: rgb(48, 44, 44);
    font-size: 1rem;
    border: 1px solid #fafbfc;
    border-radius: 8px;
    
}

main form input[type="submit"] {
    margin-left: 10px;
    cursor: pointer;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 32px;
    background: #ec6816;
    color: rgb(250, 248, 248);
    font-size: 1rem;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

main form input[type="submit"]:hover {
    background: #ff8402;
    
}

section.images {
    
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}

section.images img {
    width: 80%;
}


@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}