<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../css/home.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">


    <title>home page</title>
</head>
<body>
    

    
    <aside class="text-container">
        <h1> 
            <br> Venha mergulhar nesse </br> 
            oceano de vantagens!           
        </h1>

        <img class="imagem-onda" src="../img/efeito de onda.png" alt=" imagem de onda">
        
        <img src="../img/Baby.png" alt="Logo de tubarão bebe">
    </aside>

    <div class="form-container">
        <h2 class="titulo-form-conteiner">Crie sua conta!</h2>
        <h3 class="subtitulo-form-conteiner">Você precisa apenas de um email e um numero de telefone para começar!</h3>
        <button class="botao botao-acessar-form" type="submit">Acessar</button>
        <button class="botao botao-cadastrar-form">Cadastrar</button>

    </div>
    

</body>
</html>