<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <title>Login</title>
</head>
<body>
    <div id="login-container">
        <h1>Login</h1>
        <form action="">
            <label for="email"> E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite se e-mail" autocomplete="of">
            <label for="password">senha</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
            <a href="#" id="forgot-pass">Esqueceu a senha?</a>
            <input type="submit" value="Login">
        </form>
        <div id="social-container">
            <p>Ou entre pelas redes sociais</p>
            <i class="fa fa-google-g"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <div id="register-container">
            <p>Ainda nao tem uma conta?</p>
            <a href="#">Registrar</a>

        </div>

    </div>
    
    <script src="/Babie-Bank/js/modules/login.js"></script>
</body>
</html>