<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/Babie-Bank/css/registeraddress.css">


  <title>Registro</title>
</head>

<body>

  <main>
    <section id="SharkCard">

      <h1>
        Informe seu endereço <br>
        para receber seu <br>
        <span>SharkCard</span>
      </h1>
      <img src="/Babie-Bank/img/registeraddress-img/SharkCard.png" alt="">
    </section>

    <div id="addressForm">
      <section id="addressForm-title">
        <h2>Registro<h2>
            <img src="/Babie-Bank/img/registeraddress-img/happyshark.png.png" alt="">
      </section>

      <form>
        <fieldset>
          <div class="input-wrapper">
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep">
          </div>

          <div class="input-wrapper">
            <label for="uf">UF:</label>
            <input type="text" id="uf" name="uf">
          </div>

          <div class="input-wrapper">
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco">
          </div>

          <div class="input-wrapper">
            <label for="numero">Número:</label>
            <input type="text" id="numero" name="numero">
          </div>

          <div class="input-wrapper">
            <label for="complemento">Complemento:</label>
            <input type="text" id="complemento" name="complemento">
          </div>

          <div class="input-wrapper">
            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" name="bairro">
          </div>

          <div class="input-wrapper">
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade">
          </div>

          <button type="submit">Registrar</button>
          
        </fieldset>
      </form>
    </div>
  </main>


  <script src="/Babie-Bank/js/modules/registeraddress.js"></script>
</body>

</html>