<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/Babie-Bank/css/registeraddress.css">


  <title>Registro</title>
</head>

<body>
  <div id="CTA">
    <h2>
      <p>Informe i seu endereço</p>
      <p>para receber seu <span>SharkCard</span></p>
    </h2>
    <img src="/Babie-Bank/img/registeraddress-img/SharkCard.png" alt="">
  </div>
  <div id="address form">
    <h1>Registro</h1>
    <img src="/Babie-Bank/img/registeraddress-img/happyshark.png.png" alt="">

    <form action="">
      <label for="cep">CEP:</label>
      <input type="text" id="cep" name="cep">

      <label for="uf">UF:</label>
      <input type="text" id="uf" name="uf">

      <label for="endereco">Endereço:</label>
      <input type="text" id="endereco" name="endereco">

      <label for="numero">Número:</label>
      <input type="text" id="numero" name="numero">

      <label for="complemento">Complemento:</label>
      <input type="text" id="complemento" name="complemento">

      <label for="bairro">Bairro:</label>
      <input type="text" id="bairro" name="bairro">

      <label for="cidade">Cidade:</label>
      <input type="text" id="cidade" name="cidade">

      <button type="submit">Registrar</button>
    </form>
  </div>




  <script src="/Babie-Bank/js/modules/registeraddress.js"></script>
</body>

</html>