<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="../css/register.css">      
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <title>Página de cadastro</title>
</head>
    <body>        
         
        <aside class="text-container">
            <h4> 
                <br> Olá! </br> 
                Seja bem-vindo ao 
                <br> <span class="orange-text">Shark Bank</span> </br> 
            </h4>
            
        </aside>

    <form action="" class="form-container" id="form">

        <span class="span-required"> CPF </span>            
        <input id="cpf" name="cpf" type="text" class="inputs required" oninput="validateCPF()">                

        <span class="span-required"> Nome Completo </span>            
        <input id="username" name="username" type="text" class="inputs required" oninput="validateName()">                              

        <span class="span-required"> Celular </span>            
        <input id="phonenumber" name="phonenumber" type="text" class="inputs required" oninput="validatePhoneNumber()">                

        <span class="span-required"> Email </span>           
        <input id="email" name="email" type="text" class="inputs required" oninput="validateEmail()">                

        <span class="span-required"> Senha </span>           
        <input id="password" name="password" type="password" class="inputs required" oninput="validatePassword()">                

        <span class="span-required"> Confirmar senha </span>            
        <input id="confirmpassword" name="password" type="password" class="inputs required" oninput="validateConfirmPassword()">                
                
        <label class="checkbox-label">
        <input type="checkbox" id="term" name="term" class="checkbox">
        <span class="checkbox-text">Li e entendi este Termo de Aceitação para Criação de conta e  concordo com seus termos e condições.</span>
        </label>
                                  
        <button type="button" onclick="validateForm()"> Cadastrar </button>

    </form>
    <script src="/Babie-Bank/js/modules/register.js"></script>
    </body>
</html>