<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="../css/register.css">     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <title>Página de cadastro</title>
</head>
    <body>        
         
        <aside class="text-container">
            <h4> 
                <br> Olá! </br> 
                Seja bem-vindo ao 
                <br> <span class="orange-text">Shark Bank</span> </br> 
            </h4>
            
        </aside>

        <form action="" class="form-container">

                <label for="cpf"> CPF </label>            
                <input id="cpf" name="cpf" type="text">                

                <label for="username"> Nome Completo </label>            
                <input id="username" name="username" type="text">                

                <label for="phonenumber"> Celular </label>            
                <input id="phonenumber" name="phonenumber" type="text">                

                <label for="email"> Email </label>           
                <input id="email" name="email" type="text">                

                <label for="senha"> Senha </label>           
                <input id="password" name="password" type="password">                

                <label for="confirm"> Confirmar senha </label>            
                <input id="password" name="password" type="password">                
                
                <label for="newsletter" class="checkbox-label">
                <input type="checkbox" id="newsletter" name="newsletter" class="checkbox">
                <span class="checkbox-text">Li e entendi este Termo de Aceitação para Criação de conta e  concordo com seus termos e condições.</span>
                </label>
                                  
                <button type="submit"> Cadastrar </button>

        </form>
    </body>
</html>