<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> -->
    <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/form.css">

    <script src="../js/modules/login.js" defer></script>
    <title>Login</title>
</head>

<body>

    <section class="imagem">
        <img src="../img/heyshark.png">
    </section>

    <div class="form">
        <section class="title-form">
            <h2>Acesso</h1>
        </section>
        <form action="" class="form-container" id="form-register">

            <span class="span-required"> CPF </span>
            <input id="cpf-login" name="cpf" type="text" class="inputs required">
            <span id="cpf-error-message" class="error-message"></span>

            <span class="span-required"> Senha </span>
            <input id="password-login" name="senha" type="password" class="inputs required">
            <span id="password-error-message" class="error-message"></span>

            <section class="checksenha">

                <input type="checkbox" id="sessionCheckbox" name="sessionCheckbox" class="checkbox">
                <div class="checkbox-text">Lembrar conta</div>

                <a href="../view/recpassword.html" id="forgot-pass">Esqueceu a senha?</a>

            </section>
            <button id="botao-login" type="button">Acessar</button>


        </form>


    </div>



</body>

</html>