<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">

    <title>Recuperação de senha</title>

    <link rel="stylesheet" href="../css/recpassword.css">
    <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
</head>

<body>
   
    <main>
        <section class="images">
            <img class="imagem-tubarao" src="../img/shark-recpassword.png" alt="Mobile">
        </section>
        <div class="quadro">
            <form class="form" action="">
                <h2 class="titulo-esqueci-senha">Esqueci a senha</h2>
                <h6 class="subtitulo-esqueci-senha">Para redefinir a sua senha, informe o e-mail cadastrado
                    na sua conta e lhe enviaremos um link com as intruções.</h6>
                <label class="cadastrar-email" for="e-mail">
                    <span class="texto-email">E-mail</span>
                    <input class="caixa-email" type="email" id="email" name="email">
                </label>
                <input class="botao" type="submit" value="Enviar" id="send" onclick="onClickRecPassword()">
            </form>
        </div>
    </main>
    
</body>
<script src = "../js/modules/password.js"></script>
</html>