<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha</title>
    <link rel="stylesheet" href="../css/recpassword.css">
    <link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon">
</head>

<body>
    <main>
        <div>
            <form action="">
                <h2>Esqueci a senha</h2>
                <h6>Para redefinir a sua senha, informe o e-mail cadastrado
                    na sua conta e lhe enviaremos um link com as intruções.</h6>
                <label for="e-mail">
                    <span>E-mail</span>
                    <input type="email" id="email" name="email">
                </label>
                <input type="submit" value="Enviar" id="button">
            </form>
        </div>
    </main>
    <section class="images">
        <img src="../img/mobile.png" alt="Mobile">
    </section>
</body>

</html>