<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/registeraddress.css">


  <title>Registro</title>
</head>

<body>

  <main>
    <section id="SharkCard">

      <h1>
        Informe seu endereço <br>
        para receber seu <br>
        <span>SharkCard</span>
      </h1>
      <img src="/img/registeraddress-img/SharkCard.png" alt="">
    </section>

    <div id="addressForm">

      <section id="form-title">
        <h2>Registro<h2>
            <img src="/img/registeraddress-img/happyshark.png.png" alt="">
      </section>

      <form action="" id="form-container">
        <fieldset>

          <div id="fieldsInline1">
            <div class="input-wrapper" id="field-CEP" >
              <label for="cep">CEP</label>
              <input type="text" id="cep" name="cep" oninput="validateCep()">  
              <span id="cep-error-message" class="error-message"></span> 
            </div>
            <div class="input-wrapper" id="field-UF">
              <label for="uf">UF</label>
              <input type="text" id="uf" name="uf" oninput="validateUf()">
              <span id="uf-error-message" class="error-message"></span>
            </div>
          </div>

          <div id="fieldsInline2">
            <div class="input-wrapper" id="field-Endereco">
              <label for="endereco">Endereço</label>
              <input type="text" id="endereco" name="endereco" oninput="validateEndereco()">
              <span id="endereco-error-message" class="error-message"></span>
            </div>
            <div class="input-wrapper" id="field-Numero">
              <label for="numero">Nº</label>
              <input type="text" id="numero" name="numero" oninput="validateNumero()">
              <span id="numero-error-message" class="error-message"></span>
            </div>
          </div>



          <div class="input-wrapper" id="field-Complemento">
            <label for="complemento">Complemento</label>
            <input type="text" id="complemento" name="complemento" oninput="validateComplemento()">
            <span id="complemento-error-message" class="error-message"></span>
          </div>

          <div class="input-wrapper" id="field-Bairro">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" oninput="validateBairro()">
            <span id="bairro-error-message" class="error-message"></span>
          </div>

          <div class="input-wrapper" id="field-Cidade">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" oninput="validateCidade()">
            <span id="cidade-error-message" class="error-message"></span>
          </div>

          <button type="submit">Registrar</button>

        </fieldset>
      </form>
    </div>
  </main>


  <script src="/js/modules/registeraddress.js"></script>
</body>

</html>